.array-container {
  margin: 20px auto;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
}

.column {
  display: inline-block;
  margin-left: 200px;
  margin-top: 100px;
  /* border: 1px solid #e2e2e2; */
}
.column button {
  display: block;
  margin: 40px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 100px;
}
.column button:hover {
  transform: translateY(-2px);

  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.slider {
  margin-left: 40px;
}

/* ====================================== */

.frame {
  float: none;
  margin: 0px auto;
  padding-top: 100px;
  /* border: 1px solid #e2e2e2; */
}

.array-bar {
  width: 2px;
  background-color: turquoise;
  display: inline-block;
  margin: 0 1px;
}
