@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

:root {
}
html {
  background: var(--background);
  color: var(--foreground);
  transition: color var(--transition), background var(--transition);
}
/* [data-theme='dark'] {
  --background-color: rgb(14, 23, 41);
  --nav-bar-color: rgb(10, 18, 34);
  --text-color: #eee;
} */
/* ================================================================================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato;
  font-weight: 400;
}

/* body {
  background-color: var(--background-color);
  color: var(--text-color);
} */

/* ================================================================================= */

.nav-bar {
  background-color: var(--nav-bar-color);
  height: 60px;
  border-bottom: 1px solid #888;
  display: flex;
  justify-content: space-between;
}

.main-head {
  font-size: 34px;
  padding: 10px 10px 10px 10px;
  font-weight: 300;
}
/* ================================================================================= */
